@include media-md {
  .menu-btn {
    visibility: hidden;
  }

  .about__bio {
    font-size: 1.5rem;
  }

  .about {
    &__bio-image {
      height: 50vh;
    }

    &__items {
      grid-template-columns: repeat(2, 1fr);
    }

    .text-secondary {
      font-size: 3rem;
    }
  }

  .contact__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .container .row {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include media-lg {
  .container .row {
    grid-template-columns: repeat(3, 1fr);
  }

  .about .jobs {
    grid-template-columns: repeat(2, 1fr);
  }
}
